html, h1, h2, h3, select{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Arcade Classic";
    src: url(./img/arcadeclassic.ttf);
}

html{
    font-size: 16px;
    font-family: "Arcade Classic", sans-serif;
}
    
body{
    background-image: url('https://media0.giphy.com/media/pI43YlhMoPqsE/giphy.gif');
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    background-color: black;
}

#logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#logo img {
    width: 12vw;
}

h1 {
    color: white;
    text-align: center;
}

.vertical > div {
    width: 50px;
    height: 50px;
    border: 2px solid #436b68;
}
.vertical:hover{
    cursor: pointer;
    background-color: #7ca3dd;
}
  
#grid{
    background-image: linear-gradient(135deg, #548BB3 29%,   #9599E2 100%, #406E6A 77%);
    background-color: #8BC6EC;
    width: fit-content;
    margin: auto;
    display: flex;
    margin-top: 5vh;
    background-color: #FFF;
    box-shadow: 1px 1px 10px #000;
    overflow: hidden;
}
    
#resultado{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #d3ddf0;
    text-shadow: 2px 2px 1px black;
}
    
#bntReiniciar{
    width: 6rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
    border-radius: 3px;
    cursor: pointer;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #548BB3 29%, #406E6A 77%);
    color: #d3ddf0;
}
    
#bntReiniciar:hover{
    background-color: #8BC6EC
}
    
.J1, .J2{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 50px 50px;
}
    
@keyframes descer-bola{
    0% {
        transform: translateY(-250px);
    }
    100% {
        transform: translateY(0);
    }
}
    
.animar{
    animation: descer-bola .8s;
}

@media screen and (max-width: 767px) {
    body {
        background-size: 100% auto;
        background-position: 0 0;
    }

    #logo img {
        width: 15vw;
    }

    #grid {
        width: 80vw;
    }
}